*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(63, 60, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-container{
    width: 700px;
    height: 580px;
    background-color: rgb(255, 24, 36);
    border-radius: 10px;
    margin: 250px 320px;
}

.item-container{
    height: 570px;
    background-color: rgb(243, 57, 67);
    border-radius: 10px;
}

.flex-items, .flex-items1{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.item, .cal-item{
    flex-basis: 130px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(63, 60, 83);
    box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.65);
    color: white;
    margin: 10px;
    font-size: 28px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}

.default{
    font-size: 40px;
    padding-left: 55%;
}

.cancel{
    font-size: 38px;
}

.cal-item{
    background-color: rgb(252, 241, 89);
    color: rgb(59, 56, 56);
    box-shadow: 0 7px 0 0 rgba(255, 241, 42, 0.514);
}

.equalto{
    background-color: rgb(144, 238, 144);
    box-shadow: 0 7px 0 0 rgba(152, 235, 152, 0.568);
}

.flex-items1 .item:nth-of-type(2){
    flex-grow: 3;
}

@media(max-width: 1024px){
    .flex-container{
        max-width: 100%;
        margin: 60px;
        width: 800px;
        height: 550px;
    }
    .item-container{
        height: 540px;
    }
    
    .item, .cal-item{
        flex-basis: 170px;
        height: 85px;
        font-size: 46px;
    }
    
    .default{
        font-size: 62px;
    }
    
    .cancel{
        font-size: 60px;
    }
}

@media(max-width: 820px){
    .flex-container{
        max-width: 100%;
        margin: 60px;
        width: 800px;
        height: 550px;
    }
    .item-container{
        height: 540px;
    }
    
    .item, .cal-item{
        flex-basis: 140px;
        height: 85px;
        font-size: 46px;
    }
    
    .default{
        font-size: 62px;
    }
    
    .cancel{
        font-size: 60px;
    }
}

@media(max-width: 680px){
    .flex-container{
        max-width: 100%;
        margin: 30px;
        height: 400px;
    }
    .item-container{
        height: 390px;
    }
    
    .item, .cal-item{
        flex-basis: 68px;
        height: 55px;
        font-size: 26px;
    }
    
    .default{
        font-size: 32px;
    }
    
    .cancel{
        font-size: 30px;
    }
}

@media(max-width: 400px){
    .flex-container{
        max-width: 80%;
        margin: 40px 0;
        height: 280px;
    }
    .item-container{
        height: 270px;
    }
    
    .item, .cal-item{
        flex-basis: 36px;
        height: 30px;
        font-size: 18px;
    }
    
    .default{
        font-size: 24px;
    }
    
    .cancel{
        font-size: 22px;
    }
}
